html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.path-nav {
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  position: fixed;
}
.path-nav.path-nav-bottom-left {
  bottom: 26px;
  left: 26px;
}
.path-nav.path-nav-top-right {
  top: 26px;
  right: 26px;
}
.path-nav a {
  position: relative;
  z-index: 1;
  display: block;
  width: 52px;
  height: 52px;
  line-height: 52px;
  border: 6px solid white;
  background: #44403d;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -khtml-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  font-family: sans-serif;
  text-decoration: none;
  -moz-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.25), inset 0 0 2px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.25), inset 0 0 2px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.25), inset 0 0 2px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.25), inset 0 0 2px rgba(0, 0, 0, 0.8);
}
.path-nav.active a {
  -moz-box-shadow: 0 0.2em 1em 2px rgba(0, 0, 0, 0.4), 0 0 0 2px rgba(0, 0, 0, 0.25), inset 0 0 2px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0.2em 1em 2px rgba(0, 0, 0, 0.4), 0 0 0 2px rgba(0, 0, 0, 0.25), inset 0 0 2px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0 0.2em 1em 2px rgba(0, 0, 0, 0.4), 0 0 0 2px rgba(0, 0, 0, 0.25), inset 0 0 2px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0.2em 1em 2px rgba(0, 0, 0, 0.4), 0 0 0 2px rgba(0, 0, 0, 0.25), inset 0 0 2px rgba(0, 0, 0, 0.8);
}
.path-nav ul {
  position: absolute;
  z-index: 0;
  top: 8.5px;
  left: 8.5px;
}
.path-nav li {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}
.path-nav li:nth-child(1) {
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -moz-transition-delay: 0.175s;
  -webkit-transition-delay: 0.175s;
  -o-transition-delay: 0.175s;
  transition-delay: 0.175s;
}
.path-nav li:nth-child(2) {
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -moz-transition-delay: 0.14s;
  -webkit-transition-delay: 0.14s;
  -o-transition-delay: 0.14s;
  transition-delay: 0.14s;
}
.path-nav li:nth-child(3) {
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -moz-transition-delay: 0.105s;
  -webkit-transition-delay: 0.105s;
  -o-transition-delay: 0.105s;
  transition-delay: 0.105s;
}
.path-nav li:nth-child(4) {
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -moz-transition-delay: 0.07s;
  -webkit-transition-delay: 0.07s;
  -o-transition-delay: 0.07s;
  transition-delay: 0.07s;
}
.path-nav li:nth-child(5) {
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -moz-transition-delay: 0.035s;
  -webkit-transition-delay: 0.035s;
  -o-transition-delay: 0.035s;
  transition-delay: 0.035s;
}
.path-nav li:nth-child(6) {
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.path-nav:target li {
  -moz-transform: rotate(1800deg);
  -webkit-transform: rotate(1800deg);
  -o-transform: rotate(1800deg);
  -ms-transform: rotate(1800deg);
  transform: rotate(1800deg);
}
.path-nav:target .cross {
  -moz-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.path-nav.path-nav-bottom-left:target li:nth-child(1) {
  top: -265px;
  left: 0px;
}
.path-nav.path-nav-bottom-left:target li:nth-child(2) {
  top: -252px;
  left: 82px;
}
.path-nav.path-nav-bottom-left:target li:nth-child(3) {
  top: -214px;
  left: 156px;
}
.path-nav.path-nav-bottom-left:target li:nth-child(4) {
  top: -156px;
  left: 214px;
}
.path-nav.path-nav-bottom-left:target li:nth-child(5) {
  top: -82px;
  left: 252px;
}
.path-nav.path-nav-bottom-left:target li:nth-child(6) {
  top: 0px;
  left: 265px;
}
.path-nav.path-nav-top-right:target li:nth-child(1) {
  top: 265px;
  left: 0px;
}
.path-nav.path-nav-top-right:target li:nth-child(2) {
  top: 252px;
  left: -82px;
}
.path-nav.path-nav-top-right:target li:nth-child(3) {
  top: 214px;
  left: -156px;
}
.path-nav.path-nav-top-right:target li:nth-child(4) {
  top: 156px;
  left: -214px;
}
.path-nav.path-nav-top-right:target li:nth-child(5) {
  top: 82px;
  left: -252px;
}
.path-nav .path-nav-expander,
.path-nav .path-nav-close {
  z-index: 3;
  width: 68px;
  height: 68px;
  line-height: 68px;
}
.path-nav .path-nav-close {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  outline: red;
  -moz-box-shadow: 0;
  -webkit-box-shadow: 0;
  -o-box-shadow: 0;
  box-shadow: 0;
}
.path-nav:target .path-nav-expander {
  z-index: 1;
}
.path-nav .path-nav-expander {
  position: relative;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e85638), color-stop(50%, #e74e2f), color-stop(50%, #de3b1a));
  background: -webkit-linear-gradient(#e85638, #e74e2f 50%, #de3b1a 50%);
  background: -moz-linear-gradient(#e85638, #e74e2f 50%, #de3b1a 50%);
  background: -o-linear-gradient(#e85638, #e74e2f 50%, #de3b1a 50%);
  background: -ms-linear-gradient(#e85638, #e74e2f 50%, #de3b1a 50%);
  background: linear-gradient(#e85638, #e74e2f 50%, #de3b1a 50%);
  -moz-box-shadow: 0 0.2em 1em 2px rgba(0, 0, 0, 0.4), 0 0 0 2px rgba(0, 0, 0, 0.25), inset 0 2px 2px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0.2em 1em 2px rgba(0, 0, 0, 0.4), 0 0 0 2px rgba(0, 0, 0, 0.25), inset 0 2px 2px rgba(255, 255, 255, 0.5);
  -o-box-shadow: 0 0.2em 1em 2px rgba(0, 0, 0, 0.4), 0 0 0 2px rgba(0, 0, 0, 0.25), inset 0 2px 2px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0.2em 1em 2px rgba(0, 0, 0, 0.4), 0 0 0 2px rgba(0, 0, 0, 0.25), inset 0 2px 2px rgba(255, 255, 255, 0.5);
}
.path-nav .path-nav-expander .cross {
  position: relative;
  width: 68px;
  height: 68px;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.path-nav .path-nav-expander .cross .cross-h,
.path-nav .path-nav-expander .cross .cross-v {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}
.path-nav .path-nav-expander .cross .cross-h {
  width: 8px;
  margin-left: -4px;
  height: 40px;
  margin-top: -20px;
}
.path-nav .path-nav-expander .cross .cross-v {
  width: 40px;
  margin-left: -20px;
  height: 8px;
  margin-top: -4px;
}

.path-nav-top-right .path-nav-expander {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #143da5), color-stop(50%, #133a9c), color-stop(50%, #103081));
  background: -webkit-linear-gradient(#143da5, #133a9c 50%, #103081 50%);
  background: -moz-linear-gradient(#143da5, #133a9c 50%, #103081 50%);
  background: -o-linear-gradient(#143da5, #133a9c 50%, #103081 50%);
  background: -ms-linear-gradient(#143da5, #133a9c 50%, #103081 50%);
  background: linear-gradient(#143da5, #133a9c 50%, #103081 50%);
}
